@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*⭐⭐ Global style ⭐⭐*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: rgba(14, 14, 14, 1);
  --paragraph-color: rgba(14, 14, 14, 0.7);
  --bg: #f5f5f5;
  --white: white;
  --primary: rgba(0, 106, 80, 1);
  --secondary: rgba(198, 228, 214, 1);
  --border-color:rgba(14,14,14,0.15);
}
body {
  font-family: "Fira Sans", serif;
  background-color: var(--bg);
}
img {
  max-width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.section-padding {
  padding: 80px 0;
}
.section-title-wrapper{
    margin-bottom: 32px;
}
.section-title-wrapper > p{
    margin-top: 20px;
}
/*⭐ Typography ⭐*/
.banner-heading {
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  color: var(--black);
}
.banner-subheading {
  opacity: 0.4;
  font-size: 24px;
  font-weight: 500;
}
.section-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
}
.card-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
  opacity: .8;
}
.article-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: var(--black);
  opacity: .8;
}
.small-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: var(--black);
}
.paragraph-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--paragraph-color);
}

/* ⭐ Button style ⭐*/
.btn-primary {
  padding: 17px 35px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}
.btn-primary:hover {
  opacity: 0.9;
}

.btn-sm {
  padding: 13px 26px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  border-radius: 8px;
}
.btn-sm:hover {
  opacity: 0.9;
}
